root {
    display: block;
}
.root {
    -fx-background-color: #303952;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #63cdda;
}

#welcome-text {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-fill: #63cdda;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-background-color: #71c7e6;
    -fx-border-radius-top-right: 4px;
}

.choicebox{
    -fx-text-fill: black;
    -fx-background-color: #0c2461;
}

#logout-button{
   -fx-text-fill: white;
   -fx-font-family: "Arial";
   -fx-font-weight: bold;
   -fx-font-size: 13px;
   -fx-background-color: red;
   -fx-border-radius-top-right: 4px;
}
.table-view .column-header-background{
    -fx-background-color: #2c2c54;
    -fx-border-collapse: collapse;
}

#tableview{
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -border-collapse: collapse;
    width: 100%;
}

#tableview tr: nth-child(even) {background-color: #f2f2f2;}
#tableview tr:hover {background-color: #ddd;}
#tableview th{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: lef;
    background-color: #4CAF50;
    color: white;
}
